<!DOCTYPE html> 
 <html lang="en"> 
      <head> 
           <meta content="text/html" charset="utf-8" > 
           <meta name="viewport" content="width=device-width, initial-scale=1"> 
           <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css" > 
           <link rel="stylesheet" href="../../../assets/css/jquery-ui.css" > 
           <link rel="stylesheet" href="../../../assets/css/jquery.datepick.css" > 
           <link rel="stylesheet" href="../../../assets/css/custom/uploadfile.css" > 
           <link rel="stylesheet" href="../../../assets/css/fontawesome-all.min.css" > 
          <link rel="stylesheet" href="../../../assets/css/custom/slide-menu.css" >
        <link rel="stylesheet" href="../../../assets/css/custom/table-header.css" >
        <link rel="stylesheet" href="../../../assets/css/custom/view.css" >
    </head>    <body onload="loadHtmlPage('../menu.html', 'sidemenu');toggle_display('dview');">
        <div class="container-fluid" style="padding:0; margin:0; top:0; left:0;"> 
            <div ng-app="shipments_trackerView" ng-controller="shipments_trackerCtrl" class="row">
                <div id="sidemenu" class="col-xl-3 col-lg-3 col-md-3 d-lg-inline d-md-inline d-sm-none d-none"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <span class="info"></span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <ul class="menu">
                                <li onclick="toggle_display('dview','reload');" class="rootmenu"><i class="fas fa-home" aria-hidden="true"></i><a href="#"> Home</a></li>
                                <li class="rootmenu"><i class="fas fa-print" aria-hidden="true"></i><a href="#"> Print</a></li>
                                <li class="rootmenu"><i class="fas fa-cloud-download-alt"></i><a href="#"> Export</a>
                                    <ul id="menu_list">
                                        <li><i class="fas fa-file-excel" aria-hidden="true"></i><a href="#">  Excel</a></li>
                                        <li><i class="fas fa-file-alt" aria-hidden="true"></i><a href="#">  CSV</a></li>
                                        <li><i class="fas fa-file-pdf" aria-hidden="true"></i><a href="#">  Pdf</a></li>
                                        <li><i class="fas fa-file-alt" aria-hidden="true"></i><a href="#">  Text</a></li>
                                        <li><i class="fas fa-file-word" aria-hidden="true"></i><a href="#">  Word</a></li>
                                    </ul>
                                </li>
                                <li onclick="toggle_display('dnew');" class="rootmenu"><i class="fas fa-copy" aria-hidden="true"></i><a href="#"> Add New</a></li>
                            </ul>
                        </div>
                    </div>
                <div class="row">
                    <div>
            <div class="display" id="dnew">
                <form name="frmShipments_tracker"  method="post" enctype="multipart/form-data">
                    <input #colname type="hidden" name="colname" ng-model="update.col_name" />
                    <input #colvalue type="hidden" name="colvalue" ng-model="update.col_value" />

     <div class="form-group">
      <label for="order_id">Order Id</label>
      <input type="text" class="form-control" name="order_id" ng-model="shipments_tracker.order_id" placeholder="Enter order_id" />
     </div>
     <div class="form-group">
      <label for="current_location">Current Location</label>
      <input type="text" class="form-control" name="current_location" ng-model="shipments_tracker.current_location" placeholder="Enter current_location" />
     </div>
     <div class="form-group">
      <label for="date_arrived">Date Arrived</label>
      <input type="date" class="form-control" name="date_arrived" ng-model="shipments_tracker.date_arrived" placeholder="Enter date_arrived" />
     </div>
     <div class="form-group">
      <label for="to_location">To Location</label>
      <input type="text" class="form-control" name="to_location" ng-model="shipments_tracker.to_location" placeholder="Enter to_location" />
     </div>
     <div class="form-group">
      <label for="dispatch_date">Dispatch Date</label>
      <input type="date" class="form-control" name="dispatch_date" ng-model="shipments_tracker.dispatch_date" placeholder="Enter dispatch_date" />
     </div>
     <div class="form-group">
      <label for="date_created">Date Created</label>
      <input type="date" class="form-control" name="date_created" ng-model="shipments_tracker.date_created" placeholder="Enter date_created" />
     </div>
     <div class="form-group">
      <label for="date_updated">Date Updated</label>
      <input type="date" class="form-control" name="date_updated" ng-model="shipments_tracker.date_updated" placeholder="Enter date_updated" />
     </div>
     <div class="form-group">
      <label for="date_deleted">Date Deleted</label>
      <input type="date" class="form-control" name="date_deleted" ng-model="shipments_tracker.date_deleted" placeholder="Enter date_deleted" />
     </div>
     <div class="form-group">
      <label for="status">Status</label>
      <input type="text" class="form-control" name="status" ng-model="shipments_tracker.status" placeholder="Enter status" />
     </div>
<button ng-click="shipments_tracker_save();" type="button" class="btn btn-primary">&nbsp;SAVE&nbsp;</button>
</form>
</div><div class="display" id="dview">
  <table class="table table-hover table-dark table-bordered">    <thead>
        <tr><th>S/N</th><th>ID</th><th>ORDER ID</th><th>CURRENT LOCATION</th><th>TO LOCATION</th><th>&nbsp;</th>
    </tr></thead><tbody><tr ng-repeat="x in shipments_tracker.shipments_tracker"><td>{{$index + 1}}</td><td>{{x.id}}</td><td>{{x.order_id}}</td><td>{{x.current_location}}</td><td>{{x.to_location}}</td><td align="center">&nbsp;<i onclick="toggle_display('dnew');" ng-click="do_shipments_tracker_update('id', x.id);" class="fas fa-edit"></i>&nbsp;&nbsp;<i onclick="toggle_display('dsview');" ng-click="shipments_tracker_view_single('id', x.id);" class="fas fa-eye"></i>&nbsp;&nbsp;<i ng-click="shipments_tracker_delete('id', x.id);" class="fas fa-trash"></i></td>&nbsp;
  </tbody>
</table>
</div>
    <div class="display" id="dsview">
        <table>
            <tr><td align="right"><b>id:</b></td><td align="left">&nbsp;{{shipments_tracker.id}}</td></tr>
            <tr><td align="right"><b>order_id:</b></td><td align="left">&nbsp;{{shipments_tracker.order_id}}</td></tr>
            <tr><td align="right"><b>current_location:</b></td><td align="left">&nbsp;{{shipments_tracker.current_location}}</td></tr>
            <tr><td align="right"><b>date_arrived:</b></td><td align="left">&nbsp;{{shipments_tracker.date_arrived}}</td></tr>
            <tr><td align="right"><b>to_location:</b></td><td align="left">&nbsp;{{shipments_tracker.to_location}}</td></tr>
            <tr><td align="right"><b>dispatch_date:</b></td><td align="left">&nbsp;{{shipments_tracker.dispatch_date}}</td></tr>
            <tr><td align="right"><b>date_created:</b></td><td align="left">&nbsp;{{shipments_tracker.date_created}}</td></tr>
            <tr><td align="right"><b>date_updated:</b></td><td align="left">&nbsp;{{shipments_tracker.date_updated}}</td></tr>
            <tr><td align="right"><b>date_deleted:</b></td><td align="left">&nbsp;{{shipments_tracker.date_deleted}}</td></tr>
            <tr><td align="right"><b>status:</b></td><td align="left">&nbsp;{{shipments_tracker.status}}</td></tr>
        </table>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/popper.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/angular.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.datepick.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.table2excel.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.uploadfile.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/utility.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/autocomplete.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/src/shipments_tracker.js"></script>    </body>
</html>