<nav class="navbar bg-dark navbar-dark">
  <ul class="navbar-nav"><h1>Smartbiz<sup>&reg;</sup></h1>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/account_gl/"><i class="fas fa-star"></i>  Account Gl</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/audit_logs/"><i class="fas fa-star"></i>  Audit Logs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/ip_logs/"><i class="fas fa-star"></i>  Ip Logs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/master_accounts/"><i class="fas fa-star"></i>  Master Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/master_assets/"><i class="fas fa-star"></i>  Master Assets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/orders_table/"><i class="fas fa-star"></i>  Orders Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/purchases_ledger/"><i class="fas fa-star"></i>  Purchases Ledger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/returns/"><i class="fas fa-star"></i>  Returns</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/roles/"><i class="fas fa-star"></i>  Roles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/sales_ledger/"><i class="fas fa-star"></i>  Sales Ledger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/shipments_tracker/"><i class="fas fa-star"></i>  Shipments Tracker</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/shipping_rates/"><i class="fas fa-star"></i>  Shipping Rates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/stores/"><i class="fas fa-star"></i>  Stores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/sub_accounts/"><i class="fas fa-star"></i>  Sub Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/sub_assets/"><i class="fas fa-star"></i>  Sub Assets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/smartbiz/app/views/users/"><i class="fas fa-star"></i>  Users</a>
    </li>
  </ul>
</nav>